/** @format */

.hero {
  margin-bottom: 90px;
  &-content {
    max-width: 596px;
  }
  &-title {
    margin-bottom: 24px;
  }
  &-desc {
    margin-bottom: 32px;
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: calc(48px / 32px);
      color: rgba(0, 0, 0, 0.54);
    }
  }
  &-store {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &-image {
    position: absolute;
    width: 743px;
    height: 399px;
    right: -30px;
    top: 96px;
    background-image: url(../assets/hero.png);
    object-fit: cover;
  }
}
