/** @format */

.pag {
  margin-bottom: 80px;
  &-main {
    padding: 0 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
  }
  &-item {
    cursor: pointer;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 7px;
    h4 {
      font-weight: 600;
      font-size: 28px;
      line-height: calc(42px / 28px);
      color: #00bcd4;
    }
    h4:first-child {
      color: $black-color;
    }
  }
  &-desc {
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: calc(24px / 18px);
      color: $black-color;
    }
  }
}
