/** @format */

body {
  font-family: $primary-font;
  background-image: url(../assets/background.png);
  background-position: right top;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.heading {
  color: $black-color;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(65px / 48px);
  font-style: normal;
}
